<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress ALL -->
<mapper namespace="com.simple.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.simple.pojo.Product">
    <constructor>
      <idArg column="productId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="productName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="categoryId" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="price" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    productId, productName, categoryId, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where productId = #{productid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where productId = #{productid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.simple.pojo.Product">
    insert into product (productId, productName, categoryId, 
      price)
    values (#{productid,jdbcType=INTEGER}, #{productname,jdbcType=VARCHAR}, #{categoryid,jdbcType=INTEGER}, 
      #{price,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.simple.pojo.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        productId,
      </if>
      <if test="productname != null">
        productName,
      </if>
      <if test="categoryid != null">
        categoryId,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="productid != null">
        #{productid,jdbcType=INTEGER},
      </if>
      <if test="productname != null">
        #{productname,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null">
        #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        #{price,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simple.pojo.Product">
    update product
    <set>
      <if test="productname != null">
        productName = #{productname,jdbcType=VARCHAR},
      </if>
      <if test="categoryid != null">
        categoryId = #{categoryid,jdbcType=INTEGER},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=VARCHAR},
      </if>
    </set>
    where productId = #{productid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simple.pojo.Product">
    update product
    set productName = #{productname,jdbcType=VARCHAR},
      categoryId = #{categoryid,jdbcType=INTEGER},
      price = #{price,jdbcType=VARCHAR}
    where productId = #{productid,jdbcType=INTEGER}
  </update>
</mapper>