<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simple4h.demo.mapper.SysUserMapper">
    <resultMap id="BaseResultMap" type="com.simple4h.demo.domain.SysUser">
        <!--@mbg.generated-->
        <!--@Table sys_user-->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password_salt" jdbcType="VARCHAR" property="passwordSalt"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="birthday" jdbcType="TIMESTAMP" property="birthday"/>
        <result column="sex" jdbcType="BOOLEAN" property="sex"/>
        <result column="email" jdbcType="VARCHAR" property="email" typeHandler="com.simple4h.demo.config.EmailHandler"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="create_by" jdbcType="VARCHAR" property="createBy"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_by" jdbcType="VARCHAR" property="updateBy"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id,
        username,
        password_salt,
        avatar,
        birthday,
        sex,
        email,
        phone,
        telephone,
        create_by,
        create_time,
        update_by,
        update_time
    </sql>
</mapper>